<a href="https://colab.research.google.com/github/skredenmathias/DS-Unit-1-Build/blob/master/Sprint_1_Build_Week.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

In [0]:
!git clone https://github.com/skredenmathias/DS-Unit-1-Build.git

Cloning into 'DS-Unit-1-Build'...
remote: Enumerating objects: 14, done.
remote: Counting objects: 100% (14/14), done.
remote: Compressing objects: 100% (13/13), done.
remote: Total 14 (delta 0), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (14/14), done.

In [0]:
path = '/content/DS-Unit-1-Build/'

In [0]:
worlds_2019 = pd.read_excel(path+'2019-summer-match-data-OraclesElixir-2019-11-10.xlsx')

In [0]:
worlds_2019.head()

    gameid  ... csdat15
0  1070340  ...      -6
1  1070340  ...     -17
2  1070340  ...     -19
3  1070340  ...     -15
4  1070340  ...       1

[5 rows x 98 columns]

In [0]:
year_2016 = pd.read_excel(path+'2016 complete match data OraclesElixir 2018-12-18.xlsx')

In [0]:
# Confirming the datasets have the same attributes
year_2016.head(10)

       gameid  ... xpdat10
0  1001470051  ...   528.0
1  1001470051  ...   325.0
2  1001470051  ...  -118.0
3  1001470051  ...   347.0
4  1001470051  ...   196.0
5  1001470051  ...  -528.0
6  1001470051  ...  -325.0
7  1001470051  ...   118.0
8  1001470051  ...  -347.0
9  1001470051  ...  -196.0

[10 rows x 84 columns]

In [0]:
year_2016.describe()

             gameid       patchno  ...     oppxpat10       xpdat10
count  1.982400e+04  19824.000000  ...  19812.000000  19812.000000
mean   5.134371e+08      6.081725  ...   5755.092166      0.000000
std    5.262141e+08      0.120814  ...   5254.745720    647.718238
min    3.900610e+05      5.240000  ...    663.000000  -4991.000000
25%    1.010398e+06      6.050000  ...   2949.750000   -337.000000
50%    1.440086e+06      6.110000  ...   3668.000000      0.000000
75%    1.001720e+09      6.130000  ...   4695.000000    337.000000
max    2.002300e+09      6.180000  ...  21245.000000   4991.000000

[8 rows x 70 columns]

In [0]:
year_2016.describe(exclude='number')

                                                      url  ...   ban3
count                                               19824  ...  19782
unique                                               1652  ...     87
top     http://matchhistory.na.leagueoflegends.com/en/...  ...   Ryze
freq                                                   12  ...   1632
first                                                 NaN  ...    NaN
last                                                  NaN  ...    NaN

[6 rows x 14 columns]

In [0]:
year_2017 = pd.read_excel(path+'2017matchdataOraclesElixir.xlsx')

In [0]:
worlds_2018 = pd.read_excel(path+'2018-worlds-match-data-OraclesElixir-2018-11-03.xlsx')

In [0]:
spring_2018 = pd.read_excel(path+'2018-spring-match-data-OraclesElixir-2018-05-20.xlsx')

In [0]:
summer_2018 = pd.read_excel(path+'2019-summer-match-data-OraclesElixir-2019-11-10.xlsx')

In [0]:
spring_2019 = pd.read_excel(path+'2019-spring-match-data-OraclesElixir-2019-05-21.xlsx')

In [0]:
summer_2019 = pd.read_excel(path+'2019-summer-match-data-OraclesElixir-2019-09-16.xlsx')
summer_2019.shape

(12612, 98)

In [0]:
# Merging dataframes
dfs = [year_2016, year_2017, spring_2018, summer_2018, worlds_2018, spring_2019, summer_2019, worlds_2019, ]
test = pd.concat(dfs)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

In [0]:
test.head()

    a  airdrakes     ban1      ban2  ... week       wpm  xpat10 xpdat10
0   3        NaN  Kindred  Kassadin  ...    1  0.500695  4369.0   528.0
1  13        NaN  Kindred  Kassadin  ...    1  0.751043  3478.0   325.0
2  10        NaN  Kindred  Kassadin  ...    1  0.528512  4593.0  -118.0
3   9        NaN  Kindred  Kassadin  ...    1  0.500695  3450.0   347.0
4  10        NaN  Kindred  Kassadin  ...    1  0.945758  2766.0   196.0

[5 rows x 99 columns]

In [0]:
test.shape

(102888, 99)

In [0]:
# for df in dfs:
#      for df2 in dfs:
#           if df.columns.to_list() != df2.columns.to_list():
#             if df == df2 
#                 print('False')

SyntaxError: ignored

In [0]:
for i in range(len(dfs)):
    for j in range(1, len(dfs)):
        if dfs[i].columns.tolist() != dfs[j].columns.tolist():
            print('False')

False
False
False
False
False
False
False

In [0]:
col_list = []
for df in dfs:
    for col in df.columns:
        col_list.append(col)

all_columns = set(col_list)

i = 0
for df in dfs:
    print(i)
    diff = all_columns - set(df.columns)
    print(diff)
    i += 1

0
{'oppelders', 'firstmidouter', 'ban5', 'elders', 'elementals', 'earthdrakes', 'ban4', 'firedrakes', 'oppcsat15', 'csat15', 'waterdrakes', 'airdrakes', 'oppelementals', 'fbassist', 'csdat15'}
1
{'cssharepost15'}
2
{'cssharepost15'}
3
{'cssharepost15'}
4
{'cssharepost15'}
5
{'cssharepost15'}
6
{'cssharepost15'}
7
{'cssharepost15'}